<form id="register-form">
    <input type="text" id="register-username" placeholder="Username" required>
    <input type="password" id="register-password" placeholder="Password" required>
    <button type="submit">Register</button>
    <p id="register-message"></p>
</form>