<form id="admin-register-form">
    <label for="username">Username:</label>
    <input name="username" id="admin-username" placeholder="Username" type="text">

    <label for="password">Password:</label>
    <input name="password" id="admin-password" placeholder="Password" type="password">

    <button type="submit">Register new admin</button>
</form>
